/*h1 	{
	display: inline-block;
}
h3 	{
	display: inline-block;
}
h5 	{
	display: inline-block;
}*/
.container-fluid  {
  padding-bottom: 100px;
  /*font-family: 'Gilda Display', serif;
  font-weight: bolder;*/
}
.right{
	text-align: right;
}
strong{
	color: green;
}
.nav {
	text-align: center;
}
.nav button{
	margin-left: 15px;
	margin-right: 15px;
}
.center {
	text-align: center;
}
.center-this{
}
table{
	margin: 5px;
	padding: 5px;
}
.header	h5{
	display: inline-block;
	
}

.top50	{
	margin-top: 50px;
}

.productGrid p {
	text-align: center;
}
.productGrid	{
	margin: 20px 0;
}
.tool 	{
	padding: 5%;
	background-color: rgba(175,198,237,0.2);
}

.selectwidthauto
{
     width:100% !important;
}

.field h4{
  padding: 10px 15px;
  margin-bottom: 50px;
  border: 1px solid rgba(238, 34, 43,1);
	/*padding-right: 15px;*/
	text-align: center;
  font-family: 'Cinzel', serif;
  color: rgba(238, 34, 43,1);
}

.field {
	margin: 100px 0;
}
.cataBox  {
  border: 1px dotted rgba(238, 34, 43,1);
  padding-bottom: 50px;
}
.cataBox  input{
  font-size: 16px;
  font-family: 'Gilda Display', serif;
  border: 1px dotted rgba(238, 34, 43,1);
}
.padRad1  {
  margin-left: 20%;
}
.padRad1 label{
  display: block;
  margin-bottom: 20px;
}
.padRad1  input{
  letter-spacing: 0.02em;
  margin-left:20px;
  margin-right: 10px; 
}
/*.mech{
	padding: 0 25px;
}*/

.viewport {
  padding: 50px 50px;
}
a:link {
  color: rgb(238, 34, 43);
}
a:visited {
  color: rgb(238, 34, 43);
}
a:hover {
  color: rgb(238, 34, 43);
}
a:active {
  color: rgb(238, 34, 43);
}
a{
  color: rgb(238, 34, 43);
}
.navbar {
  margin-top: 50px;
}
.header {
  padding-bottom: 50px;
  /*border-bottom: 1px dashed black;*/
}
.vcenter {
    display: inline-block;
    vertical-align: bottom;
/*    float: none;*/
}
.topBorder  {
  border-top: 0px solid rgba(84,72,74,0.10);
  padding-right: 0px;
}
.headTag  {
  margin-top: 10px;
  /*display: inline-block;*/
  font-family: 'Cinzel', serif;
  color: rgb(84,72,74);
  font-size: 14px;
  letter-spacing: 0.15em;
  text-align: center;
  /*border-bottom: 1px solid rgb(84,72,74);*/
}

/*.parent {
   display:table;
   table-layout: fixed;
}

.child {
   display:table-cell;
   vertical-align:bottom;
}*/

/*.lvl-nav  {
  background-color: red;
}*/
.btn:hover, .btn:focus, .btn:active, .btn.active, .open .dropdown-toggle.btn-primary {

  /*background-color: rgba(239, 35, 35, 0.35);*/
  /*border: none;*/
  border-radius: 0 !important;
  color:rgba(238, 34, 43, 0.95);
  /*font-weight: bold;*/
 }

.btn
{
  background-color: white;
  /*border: none;*/
  
  /*border-color: #ABA7A7;*/

  border-radius: 0 !important;
}

.navbar .btn
{
  letter-spacing: 0.15em;
  font-family: 'Cinzel', serif;
  /*font-family: 'Playfair Display SC', serif;*/
  /*font-weight: bold;*/
  /*font-family: 'Josefin Slab', serif;*/
  font-size: 20px;
  margin: 0;
  padding-left: 4%;
  padding-right: 4%;
  border-bottom: 1px solid rgba(238, 34, 43, 0.45);
  /*border: 1px solid rgba(239, 35, 35, 0.25);*/
  /*border-left: 2px solid #ABA7A7;
  border-right: 2px solid #ABA7A7;*/
}
.navbar .btn:hover
{
  border-bottom: 1px solid black;
  color:rgba(238, 34, 43, 0.85);
  text-decoration: none;
}
.navbar a {
  /*font-family: serif;*/
  color: black;
}
.navbar a:hover{
  color:rgba(238, 34, 43, 0.85);
  text-decoration: none;
}
.saveBig {
  letter-spacing: 0.15em;
  font-family: 'Cinzel', serif;
  /*font-family: 'Playfair Display SC', serif;*/
  /*font-weight: bold;*/
  /*font-family: 'Josefin Slab', serif;*/
  font-size: 20px;
  margin: 0;
  padding-left: 4%;
  padding-right: 4%;
  border: 1px solid rgba(0, 0, 0, 1);
  /*border: 1px solid rgba(239, 35, 35, 0.25);*/
  /*border-left: 2px solid #ABA7A7;
  border-right: 2px solid #ABA7A7;*/
}
.saveBig:hover{
  border: 1px solid rgba(0, 0, 0, 0.45);
}
.success  {
  color:rgba(238, 34, 43, 1);
}
.fullInput  {
  width: 98%;
}
.edge {
  margin-top: 20px;
}
.errors {
  text-align: center;
  display: block;
  color: rgba(238, 34, 43, 1);
}
.screw p{
  margin-top: 20px;
  padding: 0 10px;
  font-size: 12px;
  color: rgba(238, 34, 43, 1);
  text-align: justify;
}
.cataBoxScrew  {
  border: 1px dotted rgba(238, 34, 43,1);
  padding-bottom: 25px;
}
.cataBoxScrew  input{
  font-size: 16px;
  font-family: 'Gilda Display', serif;
  border: 1px dotted rgba(238, 34, 43,1);
}
.mech p{
  margin-top: 20px;
  padding: 0 10px;
  font-size: 12px;
  color: rgba(238, 34, 43, 1);
  text-align: justify;
}
